<!DOCTYPE html>
<!-- HUUUUUUUUUH WHAT -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HOW TO OPERATE YOUR FROG</title>
  <meta name="description" content="How to operate your FROG">
  <meta name="author" content="FROG LLC">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link href='https://fonts.googleapis.com/css?family=Special Elite' rel='stylesheet' type='text/css'>
  <style>
  .FROG {
  max-width: 100%;
  margin: 3rem auto;
  }
  .BANNER {
  text-align: center;
  }
  .BLUB {
  text-align: center;
  }
  body {
  font-family: 'Special Elite', monospace;
  background:#FBF0D9;
  color:#5F4B32;
  padding-top: 1.2em;
  }
  </style>
</head>
{% block js %}{% endblock %}
<body>
  <div class="container">
    <div class="row">
    <!-- DUHHHH -->
{% block body %}{% endblock %}
    </div>
  </div>
</body>
</html>
