<html>
<head>
<title> F R O G  N O T  F O U N D</title>
  <link href='https://fonts.googleapis.com/css?family=Special Elite' rel='stylesheet' type='text/css'>
  <style>
  .FROG {
  max-width: 100%;
  margin: 3rem auto;
  }
  .BANNER {
  text-align: center;
  }
  .BLUB {
  text-align: center;
  }
  body {
  font-family: 'Special Elite', monospace;
  background:#FBF0D9;
  color:#5F4B32;
  }
  </style>
</head>
<body bgcolor=FBF0D9 text=5F4B32>

<center>
<br>
<font size=+3>The FROG you requested was not found<br><br>
<img src="/static/frogerror.jpg"><br><br>
If you feel you have reached this FROG in error, <a href="http://frog.tips">please try again.</a>
</font>
</body>
</html>
