{% extends "base.html" %}
{% block js %}
<script src="static/frog.js"></script>
<script src="static/huh.js"></script>
<script>$(function() {
  $FROG({
    data: {{ preloaded_tips|tojson if preloaded_tips else 'undefined' }}
  });
});</script>
{% endblock %}
{% block body %}
<!-- LET US BE RENAISSANCE FROGS -->
<h2>HOW TO OPERATE YOUR FROG</h2>
<img id="TIP-FROG" src="static/frog.png"/>
<div>
  <h5>CLICK ON FROG FOR TIP</h5>
  <h4 id="TIP">FROG loading. Meditate on FROG.</h4>
</div>
{% endblock %}
